#container {
	padding: 20px;
	background: #eee;
	border: 1px solid #999;
	overflow: auto;
}
#left {
	width: 200px;
	border: 1px solid #999;
	float: left;
	background: #fff;
}
#left h4 {

}
img {
	width: 80px;
	height: 80px;
	margin: 20px;
	float: left;
	border: 1px solid #999;

}
p {
	text-indent: 2em;
}
#center {
	border: 1px solid #999;
	background: #fff;
	height: 450px;
	width: auto;
	margin: 0 200px 0 300px;

}
#right {
	width: 120px;
	border: 1px solid #999;
	float: right;
	background: #fff;
}